*, *::after, *::before {
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
                url(screenshot.png) top center no-repeat; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    color: #6F6F6F;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .3s;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(img/eggs.jpg) center center / cover no-repeat;
    color: #FFF;
}

/* START: css for page: recipe1 */
.recipe1-header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(img/salad-chicken.jpg) center center / cover no-repeat;
}
/* FIN: css for page: recipe1 */

.topbar {
    padding: 18px 20px;
    /* font-size: 14px; */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.topbar a:hover {
    color: #C89446;
}

.logo {
    margin-bottom: 20px;
    white-space: nowrap;
}

.menu-item {
    display: inline-block;
    margin: 6px 20px;
    white-space: nowrap;
}

.menu-button {
    border: solid 1px #C89446;
    padding: 7px 12px;
    transition: .4s;
}

.menu-button:hover {
    background-color: #C89446 !important;
    color: #FFF !important;
}

.slogan {
    padding: 50px 0 70px 0;
    text-align: center;
}

.slogan-welcome {
    display: block;
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 2.2rem;
}

.slogan-fiasco {
    display: block;
    padding-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.slogan-mediterranean {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.home-section {
    padding-top: 9px;
}

.container-small {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #383838;
    margin-top: 1rem;
}

.title span {
    display: block;
    font-family: 'Pinyon Script', serif;
    font-weight: 400;
    font-size: 2.8rem;
    color: #C89446;
    text-transform: none;
}

.title::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 3px;
    background: #C89446;
    margin-bottom: .5rem;
}

.block {
    margin-bottom: 60px;
}

.block-center {
    text-align: center;
}

.see-more {
    color: #C89446;
}

.see-more:hover {
    text-decoration: underline;
} 

.see-more::after {
    margin-left: 5px;
    content: '>';
}

.block-img {
    max-width: 350px;
    margin: 0 auto;
    border: solid 1px #C89446;
}
.block-img img {
    display: block;
}

.ingredients-menu {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #383838;
    margin: 30px 0;
}

.ingredients-menu a {
    display: inline-block;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 9px;
    position: relative;
    transition: .3s;
}

.ingredients-menu a:hover::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 2px;
    background: #C89446;
}

.menu-summary {
    padding: 60px 0;
    text-align: center;
}

.menu-summary-item {
    margin-bottom: 20px;
}

.menu-summary-title {
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 1px;
    color: #383838;
    margin-bottom: 0;
}

.menu-summary p {
    font-weight: 400;
    color: #6F6F6F;
    max-width: 500px;
    margin: 0 auto;
}

.menu-summary-price {
    font-family: 'Pinyon Script', serif;
    font-weight: 400;
    text-align: center;
    font-size: 2.5rem;
    color: #C89446;
    padding: 5px;
}

.block-chef .block-img {
    /* width: 100%; */
    border: none;
}

.reservation {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(img/reservation.jpg) center center / cover no-repeat;
    color: rgba(255, 255, 255, .7);
    padding: 80px 15px;
}

.reservation .block {
    margin-bottom: 0;
}

.reservation .title {
    color: #FFF;
}

.reservation input, .reservation select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: solid 1px #6F6F6F;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFF;
    font-family: 'Source Sans Pro', serif;
    transition: .3s;
}

.reservation input:focus, .reservation select:focus {
    background-color: rgba(255, 255, 255, .08);
    border-color: #C89446;
}

.reservation select {
    appearance: none;
    background: no-repeat right 10px center url(img/select.svg);
}

.reservation select option {
    color: #000;
}

.reservation button {
    width: 100%;
    font-family: 'Source Sans Pro', serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #C89446;
    color: #FFF;
    border: solid 2px transparent;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
}

.reservation button:hover {
    background: transparent;
    color: #C89446;
    border: solid 2px #C89446;
}

.recipes .container {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 20px;
}

.recipes .title {
    text-align: right;
}

.recipes .container > p {
    text-align: right;
    max-width: 716px;
    margin-left: auto;
}

.recipes-list {
    margin-top: 60px;
    font-weight: 300;
    /* font-size: 1.125em; */
}

.recipes-list strong {
    display: block;
    color: #383838;
    font-weight: 700;
    font-size: 1.75rem;
}

.recipes-list-item {
    border-bottom: solid 1px rgba(0, 0, 0, .15);
    margin-top: 1em;
    display: flex;
}

.recipes-date {
    flex: none;
    width: 60px;
    letter-spacing: 2px;
    line-height: 1.1;
}

.recipes-list-item p {
    margin-top: 0;
}

.recipes-list-item:last-child {
    border-bottom: none;
}

.recipes .see-more {
    display: block;
    text-align: right;
    margin-top: 40px;
}

/* .carte {
    width: 100%;
    height: 450px;
} */

.footer {
    background: bottom right no-repeat #383838;
    font-weight: 300;
    color: #FFF;
    padding: 40px 20px;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}

.footer-column {
    margin-bottom: 20px;
}
.footer-column:last-child {
    margin-bottom: 0;
}

.footer-title {
    color: #C89446;
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer a:hover {
    color: #C89446;
    text-decoration: underline;
}

.footer-credits {
    margin-top: 40px;
}

.footer-credits span {
    font-weight: bold;
}

.block-ingredients {
    border: solid 1px #C89446;
    padding: 35px;
    font-weight: 600;
    color: #383838;
}

.block-ingredients ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.block-ingredients li {
    padding: 12px 0;
}

.block-ingredients span {
    width: 35px;
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    font-weight: 300;
}

.block-video {
    display: block;
    position: relative;
    max-width: 540px;
    background: #383838;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.block-video img {
    display: block;
    opacity: .5;
    transition: .3s;
}

.block-video::after {
    position: absolute;
    display: block;
    content: '';
    background: url(img/circle-right.png) center center no-repeat;
    width: 62px;
    height: 62px;
    top: calc(50% - 31px);
    left: calc(50% - 31px);
    /* transform: translate(-50%, -50%); */
    transition: .3s;
}

.block-video:hover::after {
    transform: scale(1.1);
}

.block-video:hover img {
    opacity: .8;
}

.recipes-summary {
    padding: 60px 0;
    text-align: center;
}

    /* START: css for page: recipe1 */
    .recipes-summary .menu-summary-item {
        margin-bottom: 40px;
    }
    /* FIN:  css for page: recipe1 */

@media only screen and (min-width: 760px) {
    body {
        font-size: 16px;
    }
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1150px;
        margin: 0 auto;
        font-size: 16px;
    }
    .logo {
        margin: 0;
        /* font-size: 18px; */
    }
    .menu {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slogan {
        padding: 112px 0 227px;
    }
    .slogan-fiasco {
        font-size: 4.375rem;
        letter-spacing: 11px;
        margin-top: -13px;
    }
    .slogan-welcome {
        font-size: 3.75rem;
    }
    .slogan-mediterranean {
        font-size: 1.4rem;
        letter-spacing: 4px;
    }
    .ingredients-menu {
        font-size: inherit;
        line-height: 1.25rem;
        margin: 60px 0;
    }
    .block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }
    .block-left .block-body, .block-right .block-body {
        flex: none;
        width: 445px;
    }
    .block-img {
        border: none;
        position: relative;
        /* flex: none; */
        z-index: 1;
    }
    .block-img::before {
        content: '';
        display: block;
        border: solid 1px #C89446;
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    /* .block-left .block-img {
        margin-left: 30px;
    } */
    .block-left .block-body {
        margin-left: 90px;
    }
    .block-right .block-img {
        margin-left: 90px;
    }
    .block-right .block-body {
        order: -1;
        /* margin-left: 30px ; */
    }
    .block-right .block-img::before {
        left: auto;
        right: -30px;
    }
    .block-chef .block-img {
        width: 100%;
        flex: none;
        order: 2;
    }
    .block-chef .block-img::before {
        display: none;
    }
    .menu-summary {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    .menu-summary::before {
        content: '';
        position: absolute;
        display: block;
        width: 380px;
        height: 380px;
        border: solid 1px #C89446;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .menu-summary-item {
        position: relative;
        width: calc(50% - 20px);
    }
    .menu-summary-img {
        position: absolute;
        background: #FFF;
    }
    .menu-summary-title {
        background: #FFF;
    }
    .menu-summary-item p {
        width: 100%;
        font-size: 14px;
        margin: 0;
        background: #FFF;
    }
    .menu-summary-price {
        background: #FFF;
    }
    .menu-summary-item:nth-child(odd) {
        text-align: left;
        padding-left: 180px;
    }
    .menu-summary-item:nth-child(odd) .menu-summary-img {
        left: 0;
    }
    .menu-summary-item:nth-child(even) {
        text-align: right;
        padding-right: 180px;
    }
    .menu-summary-item:nth-child(even) .menu-summary-img {
        right: 0;
    }
    .home-section {
        background: fixed top 95px right 0 url(img/oranges.jpg) no-repeat,
                    fixed top 580px left 0 url(img/spices.jpg) no-repeat;
    }
    .reservation .block {
        justify-content: center;
    }
    .reservation .block-body {
        width: 900px;
    }
    .reservation p {
        margin-left: auto;
        margin-right: auto;
        max-width: 640px;
    }
    .reservation .form-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
    }
    .reservation input, .reservation select {
        margin: 0 20px;
        width: 33%;
    }
    .reservation button {
        margin-top: 60px;
        width: calc(33% - 40px);
    } 
    .recipes-date {
        width: 90px;
    }
    .footer {
        background-image: url(img/splash-colored.png);
    }
    .footer-columns {
        display: flex;
        justify-content: space-between;
    }
    .footer-column {
        margin-right: 20px;
    }
    .footer-column:first-child {
        max-width: 450px;
    }
    
    .footer-column:last-child {
        flex: none;
        width: 290px;
        margin-right: 0;
        margin-bottom: 0;
    }

    /* recipe1 page */
    .recipes-summary {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .recipes-summary .menu-summary-item {
        margin-bottom: 40px;
    }
}
